.header {
  margin-top: 5%;
  padding: 4%;
}
.header .card {
  background-color: var(--color-light--1);
  margin-bottom: 2%;
}
.header .card_icons {
  width: 9%;
}
.header .base_icons {
  width: 10%;
  margin-top: 8%;
}
.header h2 {
  font-size: 1.3rem;
  color: var(--color-dark--0);
  letter-spacing: 1px;
  margin-top: 2%;
  font-weight: bold;
}
.header h2 span {
  font-size: 1.4rem;
  color: var(--color-dark--2);
  letter-spacing: 1px;
  margin-top: 1%;
  font-weight: 200;
  float: right;
}
/* .income--style {
  color: var(--color-brand--2);
} */

/********************** Extra small devices (portrait phones, less than 576px) ****************************/
@media (max-width: 575.98px) {
  .header .base_icons {
    display: none !important;
  }
}
/************************ Small devices (landscape phones, 576px and up) *****************************/
@media (min-width: 576px) and (max-width: 767.98px) {
  body {
    display: none;
  }
}
/***************************** Medium devices (tablets, 768px and up) ********************************/
@media (min-width: 768px) and (max-width: 991.98px) {
  body {
    display: none;
  }
}
/********************************** Large devices (desktops, 992px and up) *********************************/
@media (min-width: 992px) and (max-width: 1199.98px) {
}
/************************ Extra large devices (large desktops, 1200px and up) ********************************/
@media (min-width: 1200px) {
  /* header styles */
  .header {
    margin-top: -5%;
    padding: 8%;
  }
  .header .card {
    margin-bottom: 2%;
  }
  .header .card_icons {
    width: 9%;
  }
  .header .base_icons {
    width: 8%;
    margin-top: 8%;
  }
  .header h2 {
    font-size: 1.3rem;
    margin-top: 2%;
  }
  .header h2 span {
    font-size: 1.3rem;
    margin-top: 1%;
  }
}

/************************ Extra large devices (extra large desktops, 1900px and up) ********************************/
@media (min-width: 2000px) {
}
